<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Sejam Bem Vindos</h1>
    <p>Essa aplicação têm como simples objetivo criar um site que integre a API do instagra e para isso é necessário fazer no login.</p>
    <p><a class="btn btn-primary btn-lg" href="/oauth/connect" id="conectar" role="button">Conecte-se aqui&raquo;</a></p>
  </div>
</div>