%ul
  %li
    %a{href: "/oauth/connect"} Conecte ao instagram
  %li
    %a{href: "/user_recent_media"} Veja suas fotos
  %li
    %a{href: "/logout"} Logout
%p
kjdhflsdjfhdhkjdhflsdjfhdhkjdhflsdjfhdhkjdhflsdjfhdh
kjdhflsdjfhdhkjdhflsdjfhdhkjdhflsdjfhdhkjdhflsdjfhdh
kjdhflsdjfhdhkjdhflsdjfhdh