<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Integrando instagram e ruby</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body class='container'>
    <h1><%= @titulo %></h1>
    <h2><%= @subtitulo %></h2>
    <%= yield %>
    <p>Copyleft 2017</p>
  </body>
</html>